.panel-body { text-align: center; }

.row { display: flex; }

#wordnet { overflow:hidden; }
#small-multiples { overflow:hidden; }
#bar-chart { overflow:hidden; }
#radar-graph { overflow:hidden; }

#wordnet .ui-box {
  display:none;
  max-width:80%;
  width:300px;
  margin:auto;
  opacity:0.6;
  background:#fff;
  color:#333;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing:antialiased;
  padding:10px;
  font-size:0.8em;
  position:absolute;
  left:50%;
  -webkit-transform:translateX(-50%);  
  transform:translateX(-50%);
  -webkit-transition:opacity 200ms ease;
  transition:opacity 200ms ease;
}
#wordnet .ui-box:hover {
  opacity:0.9;
}
#wordnet button {
  margin:0 5px;
  font-size:1.2em;
  border: 1px solid #ccc;
  line-height:1em;
  background:#eee;
  border-radius:2px;
}
#wordnet button:focus {
  outline:none;
}

#wordnet .node circle {
  cursor: pointer;
}

#wordnet .node text {
  font-size: 0.8em;
  pointer-events: none;
  text-anchor: middle;
  transform:translateY(3px);
  -webkit-transform:translateY(3px);
  cursor:pointer;
}

#wordnet line.link {
  pointer-events:none;
  fill: none;
  stroke: #9ecae1;
  stroke-width: 1.5px;
}

.vis-title {
  margin-bottom:1em;
}

#small-multiples-title {
  width:100%;
  position:absolute;
}

#bar-chart-title span {
  font-size:0.8em;
}
#bar-chart-title .ui-trigger:hover {
  color:red !important;
}
#bar-chart-info {
  display:none;
  font-size:12px;
  overflow:auto;
  max-height:150px;
  box-shadow: 0 0 10px 0 gray;
  -webkit-box-shadow: 0 0 10px 0 gray;
  position:absolute;
  background:white;
  padding:20px 15px;
  z-index:10;
  border-radius:3px;
}
#close-info {
  float:right;
  color:red;
  padding-top:10px;
  margin-top:-20px;
  cursor:pointer;
}

.text-left {
  text-align: left;
}